rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can read/write their own profile
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Rooms can be read and written by any active participant or signed in user
    match /rooms/{roomCode} {
      allow read, write: if true;
    }
  }
}
